@media (min-width: 481px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1025px) {
	body.is-show .header__nav {
		top: 0;
		left: 0;
		opacity: 1;
		visibility: visible;
		position: relative;
	}
	.header__nav {
		transition: all .4s;
		opacity: 0;
		visibility: hidden;
	}
	body.lock {
		overflow: auto;
	}
	body.is-show .toggles__toggle:nth-child(1) {
		transform: rotate(45deg);
		transition: all .4s;
		top: calc(25% - 0px);
		width: 54%;
		left: 80%;
	}
	body.is-show .toggles__toggle:nth-child(2) {
	}
	body.is-show .toggles__toggle:nth-child(3) {
		transform: rotate(-45deg);
		top: calc(75% - 1px);
		width: 54%;
		left: 80%;
		transition: all .4s;
	}
}

@media (min-width: 1200px) {
}

@media (max-width: 1300px) {
	.intro-slider .slide-card__title {
		font-size: 140px;
	}
}

@media (max-width: 1250px) {
	.header__toggles {
		margin-right: 24px;
	}
	.header__nav .nav__item:not(:last-child) {
		margin-right: 20px;
	}
	.header__action-btn {
		margin-left: 20px;
	}
	.action-btn__subtitle {
		left: 10px;
		right: 10px;
	}
}

@media (max-width: 1199px) {
	.header__toggles {
		margin-right: 14px;
	}
	.header__nav .nav__item:not(:last-child) {
		margin-right: 10px;
	}
	.nav-link__icon {
		margin-right: 8px;
	}
	.header__nav .nav__link,
	.nav-link__title {
		font-size: 14px;
	}
	.intro-slider .slide-card__title {
		font-size: 120px;
	}
}

@media (max-width: 1024px) {
	.intro {
		height: 100vh;
		padding-top: 127px;
	}
	body.is-show .toggles__toggle:nth-child(1) {
		transform: rotate(45deg);
		transition: all .4s;
		top: 50%;
	}
	body.is-show .toggles__toggle:nth-child(2) {
		opacity: 0;
		visibility: 0;
	}
	body.is-show .toggles__toggle:nth-child(3) {
		transform: rotate(-45deg);
		top: 50%;
		transition: all .4s;
	}
	.header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		z-index: 1000;
		overflow: auto;
		padding: 9px 0 18px;
	}
	body.is-show .header__nav {
		top: 0;
		left: 0;
		position: relative;
	}
	.header__nav {
		position: absolute;
		top: -1000px;
		left: 0;
		z-index: 10001;
	}
	.header__action {
		position: relative;
		flex-direction: column;
	}
	.header__nav .nav__list {
		height: 100%;
		flex-direction: column;
		align-items: flex-start;
		padding: 40px 0;
	}
	.header__contact {
		flex-direction: column;
	}
	.header .contact__work-time {
		display: flex;
		align-items: center;
	}
	.header .contact__number-subtitle,
	.header .contact__address {
		display: none;
	}
	.header__nav .nav__link,
	.nav-link__title {
		font-size: 24px;
	}
	.header__basket {
		position: relative;
		margin-right: 18px;
	}
	.header-baskets__title {
		text-align: center;
		display: block;
		font-size: 11px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 10px;
		color: #fff;
		width: 13px;
		overflow: hidden;
		line-height: 13px;
		z-index: 2;
	}
	.header-baskets__title:after  {
		display: block;
	}
	.header__top-line {
		margin-bottom: 10px;
		z-index: 10;
	}
	.header__contact {
		text-align: center;
		margin-right: 37px;
	}
	.header__contact .contact__work-time-title {
		margin-right: 4px;
	}
	.header__contact .contact__number,
	.header__contact .contact__work-time {
		margin-right: 0;
	}
	.header__toggles {
		margin-right: 4px;
	}
	.header__toggles--dc {
		display: none;
	}
	.header__toggles--mb {
		display: block;
	}
	.header__action {
	}
	.header__action-btn {
		margin: 0 auto;
		order: -1;
	}
	.header__action-btn {
		justify-content: space-between;
		margin: 0;
		width: 100%;
	}
	.intro-slider .slide-card__content {
		padding-top: 50px;
	}
	.video-section {
		display: none;
	}
	.slide-card__head-subtitle {
		display: none;
	}
	.gallery {
		padding: 60px 0;
	}
	.gallery__row .row__col--6 {
		flex: 0 0 100%;
		max-width: 100%;
		margin-bottom: 40px;
	}
	.slide-card-content__bottom-line {
		flex-direction: column;
		align-items: flex-start;
	}
	.slide-card-content__btn {
		width: 100%;
	}
	.slide-card-content__price-title {
		margin-bottom: 16px;
	}
	.footer-action__item {
		flex-wrap: wrap;
		justify-content: center;
	}
	.footer__contact {
		flex: 0 0 100%;
		max-width: 100%;
		margin-top: 40px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.footer__contact .contact__address {
		flex: 0 0 100%;
		margin-right: 0;
		text-align: center;
		margin-bottom: 40px;
	}
	.footer-action__nav {
		justify-content: center;
		flex: 0 0 100%;
		max-width: 100%;
		margin-bottom: 40px;
	}
	.footer__action-btn {
		justify-content: center;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

@media (max-width: 991px) {
	.intro-slider .slide-card {
		flex-direction: column;
	}
	.intro-slider .slide-card__picture {
		flex: 1 0 auto;
		max-width: 100vw;
		height: 240px;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 98%);
	}
	.intro-slider .slide-content {
		flex: 1 0 auto;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		padding: 16px 20px 20px 20px;
	}
	.intro-slider .slide-content__item:not(:last-child) {
		margin: 0 21px 0 0;
	}
	.intro-slider .slide-card__suptitle {
		font-size: 14px;
		line-height: 1.2;
	}
	.intro-slider .slide-card__subtitle {
		font-size: 12px;
		line-height: 1.2;
	}
	.intro-slider .slide-card__title {
		font-size: 54px;
		line-height: 1;
	}
	.intro-slider .slide-card__btn {
		font-size: 16px;
		padding: 10px 20px;
	}
}

@media (max-width: 767px) {
	.intro {
		padding-top: 117px;
	}
	.header__logo .logo__img--title {
		display: none;
	}
	.container {
		padding: 0 10px;
	}
	.contact__number-link {
		font-size: 14px;
	}
	.action-btn {
		font-size: 12px;
	}
	.header__contact .contact__work-time-title,
	.header__contact .contact__work-time-subtitle {
		font-size: 11px;
	}
	.slide-card-content__list {
	}
	.slide-card-content__item:not(:last-child) {
		margin-bottom: 8px;
	}
	.gallery-slider .slide-card-list{
		padding: 10px;
	}
	.slide-card-list__btn {
		padding: 6px 10px;
	}
	.slide-card-list__btn .btn__icon {
		width: 20px;
		height: 20px;
	}
	.slide-card-list__btn .btn__title {
		font-size: 12px;
	}
	.footer__action-btn {
		flex-wrap: wrap;
	}
	.footer__action-btn .action-btn {
		flex: 0 0 100%;
		max-width: 100%;
		text-align: center;
		margin-bottom: 24px;
	}
	.footer__action-btn  .action-btn__inner {
		justify-content: center;
	}
	.footer__action-btn .action-btn__subtitle {
		max-width: 50%;
		left: 50%;
		transform: translateX(-50%);
	}
	.footer__action-btn .action-btn:not(:last-child) {
	    margin-right: 0px;
	}
	.drop-nav {
		margin-bottom: 16px;
		position: relative;
		border-bottom: 1px solid rgba(255,255,255,.2);
	}
	.drop-nav__input:checked + .drop-nav__el {
		display: block;
	}
	.drop-nav__input {
		user-select: normal;
	}
	.drop-nav__el {
		display: none;
	}
	.footer__row .row__col {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.drop-nav__title {
		cursor: pointer;
	}
	.drop-nav__input::checked ~ .drop-nav__title .drop-nav__title-icon {
		transform: rotate(180deg);
	}
	.drop-nav__title-icon {
		display: block;
	}
	.drop-nav__nav {
		padding-bottom: 16px;
	}
	.slick-arrow.slick-prev,
	.slick-arrow.slick-next {
		width: 48px;
		height: 48px;
	}
	.slick-arrow.slick-prev:after,
	.slick-arrow.slick-next:after {
		width: 20px;
		height: 20px;
	}
}

@media (max-width: 575px) {
	.header__action-btn .action-btn__title--dc {
		display: none;
	}
	.header__action-btn .action-btn__title--mb {
		display: block;
	}
}

@media (max-width: 480px) {
	.intro {
		padding-top: 123px;
	}
	.header__contact,
	.header__basket {
		margin-right: 10px;
	}
	.action-btn {
		padding: 6px 10px;
	}
	.slide-card-list {
		margin-bottom: -8px !important;
	}
	.slide-card-list__item {
		margin-bottom: 8px;
	}
	.footer-action__nav .nav__item:not(:last-child) {
		margin-right: 18px;
	}
}

@media (max-width: 430px) {
	.footer-action__nav .nav__list {
		flex-wrap: wrap;
		justify-content: center;
	}
	.footer-action__nav .nav__item:not(:last-child) {
		margin-right: 18px;
	}
	.footer__logo {
		margin: 0 auto;
		margin-bottom: 40px;
	}
}