/* normalize
=====================*/

*,:after,:before{-webkit-box-sizing:border-box;box-sizing:border-box}button,hr,input{overflow:visible}progress,sub,sup{vertical-align:baseline}*,:after,:before{-webkit-box-sizing:border-box;box-sizing:border-box}html{-webkit-text-size-adjust:100%}body{margin:0}details,main{display:block}h1{font-size:2em;margin:.67em 0}hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:700}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:buttontext dotted .1rem}fieldset{padding:.35em .75em .625em}legend{-webkit-box-sizing:border-box;box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}[type=checkbox],[type=radio]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}


body {
	display: block;
	background: #FFFFFF;
	font-size: 14px;
	line-height: 1.5;
	color: #000000;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body.lock {
	overflow: hidden;
}

body.is-show .header {
	height: 100%;
}

.hidden {
  display: none;
}

#site {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
  min-height: 100vh;
  position: relative;
}

.container {
	max-width: 1390px;
	margin: 0 auto;
	padding: 0 15px;
}

a {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}

p {
	padding: 0;
	margin: 0;
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
	padding: 0;
}

button {
	display: inline-block;
	outline: none;
	border: none;
	background: transparent;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

figure,
time,
iframe {
  display: block;
}

iframe {
	width: 100%;
	height: 100%;
}

.row {
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;
}

.row__col {
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    flex-grow: 1;
}

.row__col--1 {
    max-width: calc(100% / 12 * 1);
    flex-basis: calc(100% / 12 * 1);
}

.row__col--2 {
    max-width: calc(100% / 12 * 2);
    flex-basis: calc(100% / 12 * 2);
}

.row__col--3 {
    max-width: calc(100% / 12 * 3);
    flex-basis: calc(100% / 12 * 3);
}

.row__col--4 {
    max-width: calc(100% / 12 * 4);
    flex-basis: calc(100% / 12 * 4);
}

.row__col--5 {
    max-width: calc(100% / 12 * 5);
    flex-basis: calc(100% / 12 * 5);
}

.row__col--6 {
    max-width: calc(100% / 12 * 6);
    flex-basis: calc(100% / 12 * 6);
}

.row__col--7 {
    max-width: calc(100% / 12 * 7);
    flex-basis: calc(100% / 12 * 7);
}

.row__col--8 {
    max-width: calc(100% / 12 * 8);
    flex-basis: calc(100% / 12 * 8);
}

.row__col--9 {
    max-width: calc(100% / 12 * 9);
    flex-basis: calc(100% / 12 * 9);
}

.row__col--10 {
    max-width: calc(100% / 12 * 10);
    flex-basis: calc(100% / 12 * 10);
}

.row__col--11 {
    max-width: calc(100% / 12 * 11);
    flex-basis: calc(100% / 12 * 11);
}

.row__col--12 {
    max-width: 100%;
    flex-basis: 100%;
}

/*components ---*/

.logo {
	display: flex;
	align-items: center;
}

.logo:hover img {
	opacity: .5;
}

.logo__img {
	display: block;
	width: 100%;
	height: auto;
	transition: all .4s;
}

.logo__img--logo {
	margin-right: 14px;
}

.logo__img--title {}

.toggles {
	position: relative;
	height: 16px;
	width: 20px;
}

.toggles:after {
	position: absolute;
	content: '';
	top: -4px;
	left: -2px;
	right: -2px;
	bottom: -4px;
	z-index: 2;
}

.toggles__toggle {
	position: absolute;
	width: 100%;
	height: 2px;
	background: #000000;
	left: 0;
	z-index: 1;
}

.toggles__toggle:nth-child(1) {
	top: 0;
	transition: all .4s;
}

.toggles__toggle:nth-child(2) {
	top: calc(50% - 1px);
}

.toggles__toggle:nth-child(3) {
	bottom: 0;
	transition: all .4s;
}

.nav {
	display: block;
	margin: 0;
	padding: 0;
}

.nav__list {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.nav__item {
	display: flex;
	padding: 0;
	margin: 0;
}

.nav__link {
	display: inline-block;
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	color: #000;
	white-space: nowrap;
	transition: all .4s;
}

.nav-link {
	display: inline-flex;
	align-items: center;
}

.nav-link__inner {
	display: inline-flex;
	align-items: center;
}

.nav-link__icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 16px;
}

.nav-link__title {
	font-weight: 500;
	font-size: 16px;
	color: #000;
}

.action-btn {
	display: block;
	padding: 10px 20px;
	font-size: 14px;
	font-weight: 500;
	border: 1px solid rgba(135, 139, 144, 0.5);
	border-radius: 8px;
	position: relative;
	z-index: 1;
	white-space: nowrap;
	transition: all .4s;
}

.action-btn:hover {
	background: #B17955;
	border-color: #B17955;
}

.action-btn:hover .action-btn__title {
	color: #ffffff;
}

.action-btn__title--mb {
	display: none;
}

.action-btn:hover .action-btn__icon {
	fill: #ffffff;
}


.action-btn__inner {
	display: flex;
	align-items: center;
}

.action-btn__icon {
	display: block;
	width: 20px;
	height: 20px;
	margin-right: 16px;
	fill: #B17955;
	transition: all .4s;
}

.action-btn__title {
	font-weight: 500;
}

.action-btn__subtitle {
	color: #fff;
	font-size: 11px;
	font-weight: 500;
	position: absolute;
	border-radius: 5px;
	background: rgba(177,121,85,1);
	z-index: 2;
	left: 21px;
	bottom: -9px;
	right: 21px;
	white-space: nowrap;
}

.btn {
	display: inline-block;
	font-size: 18px;
	color: #fff;
	font-weight: 500;
	outline: none;
	border: none;
	cursor: pointer;
	transition: all .4s;
	border-radius: 8px;
	padding: 12px 40px;
}

.picture {
	display: block;
	position: relative;
}

.picture__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slick-list {
	height: 100%;
}

.slide {}

.slick-track {
	display: flex;
	justify-content: center;
	overflow: hidden;
	height: 100%;
}

.slide__card {}

.slide-card__btn {
	display: inline-block !important;
	background: rgba(255,255,255,.2);
}

.slide-card__btn:hover {
	background: rgba(255,255,255,1);
	color: #000;
}

.slick-arrow.slick-prev {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	left: 0px;
}

.slick-arrow.slick-next {
	right: 0px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.slick-arrow.slick-prev,
.slick-arrow.slick-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 20;
	background: rgba(255,255,255,.7);
	outline: none;
	font-size: 0;
	height: 64px;
	width: 64px;	cursor: pointer;
}

.slick-arrow.slick-prev:after,
.slick-arrow.slick-next:after {
	content: '';
	position: absolute;
	background-image: url(../img/svg/arrow.svg);
	background-repeat: no-repeat;
	background-position: center;
	width: 24px;
	height: 24px;
	z-index: 100;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) !important;
}

.slick-arrow.slick-prev:after {
	background-image: url(../img/svg/arrow-prev.svg);
}

.slick-arrow.slick-prev:hover,
.slick-arrow.slick-next:hover {
	background: rgba(255,255,255,1);
}

/*header ---*/

.header {
	width: 100%;
	padding: 24px 0 32px;
	background: #ffffff;
}

.header__container {}

.header__top-line {
	display: flex;
	align-items: center;
	margin-bottom: 24px;
}

.header__logo {
	margin-right: auto;
}

.header-contact {}

.header__contact {
	display: flex;
	align-items: center;
}

.header-contact__address {
	margin-right: 60px;
	font-size: 14px;
	font-weight: 500;
	text-align: right;
}

.header-contact__address-city {}

.header-contact__address-street {}

.header-contact__number {
	text-align: center;
	margin-right: 32px;
	position: relative;
}

.header-contact__number-link {
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	color: #000;
	transition: all .4s;
}

.header-contact__number-link:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.header-contact__number-subtitle {
	font-weight: 500;
}

.header-contact__work-time {
	font-weight: 500;
	margin-right: 60px;
	font-size: 16px;
}

.header-contact__work-time-title {
	white-space: nowrap;
}

.header-contact__work-time-subtitle {}

.header-basket {}

.header-basket:hover .header-basket__icon{
	fill: #B17955;
}

.header__basket {
	display: flex;
	align-items: center;
}

.header-basket__icon {
	display: block;
	width: 24px;
	height: 24px;
	margin-right: 16px;
	fill: #000;
	transition: all .4s;
}

.header-baskets__title {
	position: relative;
}

.header-baskets__title:after  {
	display: none;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 13px;
	height: 13px;
	background: #B17955;
	border-radius: 50%;
	z-index: -1;
}

.header__action {
	display: flex;
	align-items: center;
}

.header__toggles {
	margin-left: 4px;
	margin-right: 44px;
}

.header__toggles--mb {
	display: none;
}

.header__nav {
	margin-right: auto;
}

.header__nav .nav__item:not(:last-child) {
	margin-right: 40px
}

.header__nav .nav__link:hover,
.header__nav .nav-link__title:hover,
.header-contact__number-link:hover {
	color: #B17955;
}

.header__action-btn {
	display: flex;
	align-items: center;
}

.header__action-btn .action-btn:not(:last-child) {
	margin-right: 10px;
}

/*intro ---*/

.intro {
	height: calc(100vh - 170px);
}

.intro-slider {
	min-width: 0;
	max-width: 100vw;
	overflow: hidden;
	position: relative;
}

.intro__slider {
}

.intro-slider__slide {
}

.intro-slider .slide-card {
	display: flex;
	background: #B17955;
}

.intro-slider .slide-card__picture {
	flex: 0 0 60.41666%;
	max-width: 60.41666%;
	clip-path: polygon(0 0, 100% 0, 94% 100%, 0% 100%);
	overflow: hidden;
}

.intro-slider .slide-card__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 50px 50px 56px 50px;
}

.intro-slider .slide-content__item:not(:last-child) {
	margin-bottom: auto;
}

.intro-slider .slide-card__suptitle {
	font-size: 32px;
	margin-bottom: 13px;
}

.intro-slider .slide-card__title {
	font-size: 180px;
	font-weight: 800;
	margin-bottom: 18px;
	line-height: 1;
}

.slide-card__subtitle {
}

.intro-slider .slide-card__suptitle,
.intro-slider .slide-card__title,
.intro-slider .slide-card__subtitle {
	color: #fff;
}

.intro-slider .slide-card__subtitle,
.intro-slider .slide-card__suptitle {
	font-weight: 500;
}

/*header ---*/

.video-section {
	padding: 100px 0;
}

.container {}

.video-section__container {}

.video-section__title {
	text-align: center;
	font-size: 32px;
	font-weight: 600;
	margin-bottom: 60px;
}

.video-section__row {
	margin: 0 -17px 60px;
}

.video-section__row .row__col {
	padding: 0 17px;
}

.video-section__btn {
	display: block;
	background: #B17955;
	margin: 0 auto;
}

/*header ---*/
/*header ---*/